<div class="house_show">
  <%= image_tag(@house.image, :class => 'thumb') %>
  <div id="house-info">
    <h2><%= @house.name %></h2>
    <p><%= @house.description %></p>
    <p>Maximum Occpunacy: <%= @house.max_occ %></p>
    <p><%= link_to('Book!', new_booking_path(:house_id => @house.id)) %></p>
    <!-- <p><%= link_to('Edit', edit_house_path(@house)) %></p>
    <p><%= link_to('Delete', @house, :method => :delete, :data => { :confirm => 'DONT DO IT!!'}) %></p> -->
  </div>
</div>