<!DOCTYPE html>
<html>
<head>
  <title>Trinity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main-container">
  <div id="name-box">
    <h1>Trinity Vineyard</h1>
    <nav id="main_links">
      <%= link_to('Home', users_path) %>
      <%= link_to('Bookings', bookings_path) %>
      <%= link_to('Houses', houses_path) %>
    </nav>
  </div>
</div>
  <!-- <%== smartnav %> -->

<%= yield %>

</body>
</html>
